@import "./styles/variables.css";
@import "./styles/reset.css";

html {
  scroll-behavior: smooth;
}

body {
  min-width: 1440px;
  font-family: var(--font-family);
  color: var(--main);
  background-color: var(--inputs);
}

#root {
  min-height: 100vh;
}
